<div class="gh-canvas">
  <h2 id="social-comment-heading">Comment using your social account:</h2>
  <p class="secondary-text small">We will redirect you to our SREDevOps.org - OAuth2 in GitHub. You will be prompted to grant read-only access to your public profile and email address.</p>
  <span>&nbsp;</span>
  <a href="https://login.spectralwebservices.com/auth/github?inbound=b89c0c7a-1b79-4c68-b75e-32060012d7ca" class="gh-button" title="Login with GitHub" aria-label="Login with GitHub" rel="noopener">{{> "icons/github"}}</a>
</div>