<div class="gh-canvas">
  <h2 id="social-comment-heading">Comment using your social account:</h2>
  <p class="secondary-text small">You will be asked to grant read-only access to your public profile and email address only to verify your identity. We will never post to your account. Select your preferred social account to get started.<br /> Service provided by Spectral Web Services.</p>
  <span>&nbsp;</span>
  <span><a href="https://login.spectralwebservices.com/auth/github?inbound=b89c0c7a-1b79-4c68-b75e-32060012d7ca" class="gh-button" title="Login with GitHub" aria-label="Login with GitHub" rel="noopener">{{> "icons/github"}}</a> | <a href="https://login.spectralwebservices.com/auth/linkedin?inbound=b89c0c7a-1b79-4c68-b75e-32060012d7ca" class="gh-button" title="Login with LinkedIn" aria-label="Login with LinkedIn" rel="noopener">{{> "icons/linkedin"}}</a></span>
</div>